#books,
#books li,
.nocomments,
body,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
  margin: 0;
  padding: 0
}

#menu-cm,
.meta {
  text-transform: uppercase
}

.commentdate,
.meta {
  letter-spacing: 1pt
}

#books,
#books li,
#menu-cm,
.cmbio>ul>li,
.cmcontact,
.cmpro>ul>li,
.cmproject ul li,
.techtool li {
  list-style: none
}

body,
html {
  -webkit-text-size-adjust: 100%
}

#books,
#books li {
  vertical-align: top
}

#logo,
#search-button {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  overflow: hidden;
  transform: translate3d(0, 0, 0)
}

#search,
#sidebars.black .side-con {
  opacity: 0
}

#books,
#logo,
#logo-click,
#search,
#search-button,
#side-move {
  position: absolute
}

#sidebars.black #search,
.side-con {
  opacity: 1
}

#books li>span,
#conbox,
#container,
#menu-cm,
#wrapper,
.cmbio>ul>li>div,
.cmpro>ul>li,
.cmproject .thumbnail,
.cmproject ul li,
h4 {
  position: relative
}

#logo,
#logo-click,
#search-button,
#show-menu {
  height: 47px;
  top: 160px
}

.postmetadata a,
.postmetadata_view a,
.sidesearch {
  background-color: transparent
}

.commentbox,
.navigation {
  height: 100px
}

#comments h2,
#respond h3 {
  padding-bottom: 7px
}

#comments h2,
#comments h3,
#respond h3 {
  letter-spacing: .07em
}

.cmproject>h3,
.knormal,
.postmetadata a,
.postmetadata_view a {
  font-style: normal
}

.cmpic iframe,
.cmpic img,
.cmpro img,
.cmpro>div>embed,
.cmpro>div>iframe {
  box-shadow: 2px 25px 40px 0 rgba(0, 0, 0, .15)
}

@font-face {
  font-family: 'Leon Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../font/leonsans-bold-webfont.woff') format('woff'), url('../font/leonsans-bold-webfont.woff2') format('woff2'), url('../font/leonsans-bold-webfont.svg') format('svg')
}

@font-face {
  font-family: 'Leon Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../font/leonsans-medium-webfont.woff') format('woff'), url('../font/leonsans-medium-webfont.woff2') format('woff2'), url('../font/leonsans-medium-webfont.svg') format('svg')
}

@font-face {
  font-family: 'Leon Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/leonsans-regular-webfont.woff') format('woff'), url('../font/leonsans-regular-webfont.woff2') format('woff2'), url('../font/leonsans-regular-webfont.svg') format('svg')
}

@font-face {
  font-family: 'Leon Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../font/leonsans-light-webfont.woff') format('woff'), url('../font/leonsans-light-webfont.woff2') format('woff2'), url('../font/leonsans-light-webfont.svg') format('svg')
}

@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 300;
  src: url(../font/KoPubBatang-Light.eot);
  src: url(../font/KoPubBatang-Light.eot) format('embedded-opentype'), url(../font/KoPubBatang-Light.woff2) format('woff2'), url(../font/KoPubBatang-Light.woff) format('woff'), url(../font/KoPubBatang-Light.ttf) format('truetype')
}

blockquote {
  margin-left: 45px
}

body {
  margin: 0;
  color: #666;
  font-family: 'Leon Sans', 'KoPub Batang', serif;
  font-weight: 300;
  background-color: #fefefe;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern'
}

.sidesearch,
h3 {
  display: block;
  font-family: 'Leon Sans', 'Pretendard Variable', serif
}

#menu-cm,
.bold,
.cmproject>h3,
.download,
.kbold,
.semibold,
.stitle,
h3 {
  font-weight: 700
}

* {
  -webkit-tap-highlight-color: transparent
}

a {
  -webkit-transition: color .35s ease-out;
  -moz-transition: color .35s ease-out;
  -o-transition: color .35s ease-out;
  transition: color .35s ease-out
}

#books li>a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: #ec0101
}

.meta a:hover,
a:hover {
  color: #000
}

h3 {
  font-size: 22px;
  line-height: 24px;
  color: #1c1c1c
}

#menu-cm,
h2 {
  font-family: 'Leon Sans', 'Pretendard Variable', sans-serif
}

h4 {
  font-weight: 500;
  display: block;
  line-height: 16px;
  padding: 0 0 6px 15px
}

.cmbio>ul>li>div>i,
.cmpro>ul>li>i,
h4 i {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 100%;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  text-align: center
}

.cmbio-p li {
  padding: 36px 0 0 !important
}

.cmbio-p li:first-child {
  padding: 0 !important
}

.cmbio-p li p {
  padding: 0 0 8px
}

#wrapper {
  text-align: left;
  width: 100%;
  margin: 100px auto 0;
  overflow: hidden
}

#menu-cm,
.cmpic,
.cmpro>div,
.download,
.error-404,
.meta,
.navigation,
.nocomments,
.prev-next,
.tags,
h2 {
  text-align: center
}

#books {
  right: 40px;
  top: 80px;
  z-index: 99;
  white-space: nowrap
}

#books li {
  display: inline-block
}

#books li>span {
  display: block;
  width: 90px;
  height: 113px;
  margin: 0 0 8px;
  padding: 0
}

#books li>a {
  display: block;
  color: #d1cfcf;
  font-size: 11px;
  line-height: 13px
}

embed,
iframe,
img,
object,
video {
  max-width: 100%
}

img {
  height: auto
}

#sidebars,
#sidebars #logo,
#sidebars #search,
#sidebars #search-button,
#sidebars #show-menu,
#sidebars #side-move,
#sidebars .side-con,
#sidebars .sidesearch,
#sidebars a,
#sidebars circle,
#sidebars path {
  -webkit-transition-property: -webkit-transform, opacity, height, left, right, top, color, fill;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition-property: -moz-transform, opacity, height, left, right, top, color, fill;
  -moz-transition-duration: .3s;
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition-property: -ms-transform, opacity, height, left, right, top, color, fill;
  -ms-transition-duration: .3s;
  -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-property: -o-transform, opacity, height, left, right, top, color, fill;
  -o-transition-duration: .3s;
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: transform, opacity, height, left, right, top, color, fill;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
}

#search-button {
  right: 0;
  width: 56px;
  z-index: 12;
  padding: 15px 0 0 24px;
  cursor: pointer
}

#logo circle,
#logo path,
#search-button path,
#show-menu path,
.scrolldown #logo circle,
.scrolldown #logo path,
.scrolldown #search-button path {
  fill: #222
}

#logo-click {
  width: 110px;
  left: 0;
  z-index: 21
}

#logo {
  left: 0;
  width: 52px;
  z-index: 11;
  padding: 10px 19px 0 39px
}

#search {
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: 2;
  left: 0;
  top: 0;
  display: none;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, .3) !important
}

.sidesearch {
  font-size: 54px;
  border: none;
  padding: 15px 0;
  outline: 0;
  width: 400px;
  margin: 40px auto 0;
  color: #fff;
  font-weight: 500
}

.cmbio>ul>li:first-child,
.cmpro>ul.list>li,
.post,
.sub-menu {
  padding: 0
}

#menu-cm,
.current-menu-ancestor .sub-menu,
.current-menu-item .sub-menu,
.menu-cm-container {
  display: flex
}

#sidebars.black circle,
#sidebars.black path {
  fill: #fff
}

#sidebars.black #side-move {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

#sidebars {
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 900;
  left: 0;
  top: 0
}

#menu-cm>li>a {
  color: #000;
  text-decoration: none
}

#sidebars a:hover,
.commentcatname a:active,
.commentcatname a:hover {
  color: #ec0101;
  text-decoration: none
}

.scrolldown #sidebars a {
  color: rgba(0, 0, 0, .4);
  text-decoration: none
}

.current-menu-ancestor>a,
.current-menu-item>a,
h2 a:hover {
  color: #ec0101 !important
}

#side-move {
  width: 100%;
  height: 218px;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(255, 255, 255, .8);
  -webkit-backdrop-filter: saturate(180%) blur(8px);
  backdrop-filter: saturate(180%) blur(8px);
  -webkit-transform: translate3d(0, -153px, 0);
  -moz-transform: translate3d(0, -153px, 0);
  -ms-transform: translate3d(0, -153px, 0);
  -o-transform: translate3d(0, -153px, 0);
  transform: translate3d(0, -153px, 0)
}

.cancel-comment-reply,
.cmbio:first-child,
.cmpro:first-child,
.cmproject:first-child,
.side-con,
.stext {
  margin: 0
}

#menu-cm {
  letter-spacing: 1px;
  font-size: 11px;
  height: 47px;
  line-height: 47px;
  margin: 153px auto 0;
  -webkit-padding-start: 0px !important
}

.side-con li {
  list-style-type: none;
  padding: 0 10px;
  height: 100%
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 36px;
  line-height: 20px;
  font-size: 10px;
  margin: 0
}

.sub-menu li {
  font-size: 8px
}

.sub-menu a {
  color: rgba(0, 0, 0, .6)
}

.meta,
.meta a,
.postmetadata,
.sdate {
  color: #aaa
}

#show-menu {
  display: none;
  width: 12px;
  line-height: 47px;
  padding: 0 40px;
  cursor: pointer;
  position: absolute;
  margin-left: -46px;
  left: 50%
}

#container {
  margin: 0 auto;
  max-width: 1080px
}

@media (min-width:1080px) {
  #container {
    max-width: 1080px
  }
}

#conbox {
  padding: 50px 40px 0
}

.entry,
.post {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  font-family: 'KoPub Batang', serif
}

.cmproject>h3,
.meta {
  font-family: 'Leon Sans', 'Pretendard Variable', serif
}

.entry {
  margin: 60px 0 0
}

.postmetadata,
.postmetadata_view {
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1pt
}

.post li {
  margin-bottom: 7px
}

h2 {
  font-weight: 300;
  padding-bottom: 2px;
  font-size: 46px;
  line-height: 50px;
  color: #000
}

h2 a {
  border-bottom-style: none;
  color: #000 !important
}

.meta {
  font-size: 11px;
  margin: 4px 0 30px;
  font-weight: 500
}

.postmetadata {
  font-weight: 700;
  font-family: 'Leon Sans', 'Pretendard Variable', sans-serif;
  margin: 5px 0 100px;
  font-size: 10px
}

.postmetadata a {
  color: #aaa;
  text-decoration: none;
  font-weight: 400
}

.postmetadata a:hover,
.postmetadata_view a:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 1px #000
}

.postmetadata_view {
  margin: 5px 0 20px;
  color: #919191;
  font-size: 9px
}

.commentblank,
.navigation {
  padding: 10px 0 0
}

.postmetadata_view a {
  color: #919191;
  text-decoration: none;
  font-weight: 400
}

#comments h2,
#comments h3,
#respond h3,
.cmbio>h3,
.cmpro>h3 {
  font-weight: 700;
  text-transform: uppercase
}

#tag_cloud,
.tags {
  margin: 0 0 15px
}

#tag_cloud a,
.tags a {
  color: #000;
  margin: 0 2px
}

#footer {
  clear: both;
  width: 100%
}

#footer a:hover {
  color: #be4700;
  border-bottom-style: none
}

::-moz-selection {
  background: #ec0101;
  color: #fff
}

::selection {
  background: #ec0101;
  color: #fff
}

code::-moz-selection {
  background: #1c1c1c
}

code::selection {
  background: #1c1c1c
}

#comments {
  color: #373637;
  font-size: 12px
}

#comments h2 {
  font-size: 14px
}

#comments h3 {
  padding: 20px 0 2px;
  font-size: 13px
}

.commentcatname {
  font-weight: 400;
  font-size: 14px;
  color: #1c1c1c;
  margin: 0
}

.commentdate {
  color: #aaa;
  font-size: 11px;
  text-transform: uppercase
}

.commentcatname a:link,
.commentcatname a:visited {
  color: #1c1c1c;
  text-decoration: none
}

.commentsreply,
.commentstxt {
  margin: 5px 0 0
}

.commentstxt {
  color: #666;
  font-weight: 300;
  font-size: 14px
}

.commentsreply,
.regular {
  font-weight: 400
}

.cancel-comment-reply,
.cmproject ul li h5,
.commentsreply {
  font-size: 10px;
  text-transform: uppercase
}

.commentsbox {
  margin: 0 0 16px 5px
}

#commentform {
  margin-top: 30px
}

.commentbox,
.textfield,
.textfieldhome {
  border: 1px solid silver;
  margin: 0 0 5px
}

.entry>form>p,
.error-404 {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #222
}

.commentbox {
  width: 80%
}

.textfield {
  width: 200px
}

.textfieldhome {
  width: 300px
}

.textfieldsearch {
  width: 105px;
  border: 1px solid #e1e1e1;
  background-color: #f3f3f3
}

#respond h3 {
  font-size: 14px;
  color: #1c1c1c
}

.error-404 {
  padding-bottom: 100px
}

.entry>form>p {
  padding-top: 10px
}

img.size-thumbnail {
  float: left;
  margin: 10px 10px 10px 0;
  border: 1px solid #ec0101
}

img.size-thumbnail-last {
  clear: right;
  margin: 10px 0;
  border: 1px solid #ec0101
}

.download {
  width: 133px;
  height: 26px;
  background-color: #000;
  color: #fff;
  padding: 6px 0 0;
  cursor: pointer
}

.kbold {
  font-size: 13px;
  color: #1c1c1c;
  padding: 0 0 8px;
  text-transform: uppercase
}

.sdes {
  font-size: 14px;
  line-height: 20px
}

.cmproject {
  margin: 50px 0 0;
  line-height: 16px;
  font-size: 11px
}

.cmproject>h3 {
  font-family: 'Leon Sans', 'Pretendard Variable', serif;
  font-size: 14px;
  font-weight: 700;
  color: #111;
  padding: 0 0 4px;
  text-transform: uppercase
}

.cmproject ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: calc(100% - ((100% / 4 - 4px) * 4));
  row-gap: 16px
}

.cmproject ul li {
  width: calc(100% / 4 - 12px)
}

.cmproject ul li h5 {
  font-family: 'Pretendard Variable', serif;
  font-weight: 500;
  display: block;
  line-height: 10px;
  padding: 10px 0 6px;
  color: #aaa
}

.cmbio>h3,
.cmpro>h3,
.cmproject ul li h4 {
  font-family: 'Leon Sans', 'Pretendard Variable', serif;
  font-style: normal;
  color: #111
}

.cmproject ul li h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 0 4px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden
}

.cmbio>ul>li>div>span,
.cmbio>ul>li>span,
.cmpro>ul>li>span {
  font-size: 12px;
  color: #aaa
}

.cmproject .thumbnail {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  line-height: 0;
  font-size: 0px
}

.cmproject .thumbnail::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .04);
  content: ' '
}

.cmproject .thumbnail>img {
  width: 100%;
  height: auto
}

.cmbio {
  margin: 50px 0 0;
  line-height: 20px;
  font-size: 14px
}

.cmbio>h3,
.cmpro>h3 {
  font-size: 14px;
  padding: 0 0 4px
}

.cmbio>div {
  display: block
}

.cmbio>ul,
.cmpro>ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.cmbio>ul>li {
  margin: 0;
  padding: 6px 0 0
}

.cmbio>ul>li>span {
  display: block;
  font-weight: 400;
  padding: 0 0 4px
}

.cmbio>ul>li>div {
  display: block;
  line-height: 16px;
  padding: 0 0 6px 15px
}

.cmbio>ul>li>div>i>a,
.cmpro>ul>li>i>a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center
}

.cmcontact {
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap
}

.cmcontact>li {
  display: inline-block;
  padding: 0 !important;
  margin: 0 20px 0 0
}

.cmcopylast {
  font-size: 11px;
  line-height: 13px;
  color: #aaa;
  padding: 50px 0 0
}

.stitle {
  font-size: 13px;
  color: #111;
  padding: 0 0 8px;
  text-transform: uppercase
}

.sstitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px
}

.sstitle-icon,
.sstitle-icon-down {
  font-size: 11px;
  line-height: 16px;
  width: 10px;
  float: left;
  display: block
}

.sscont {
  margin: 0 0 7px 14px;
  color: #aaa
}

.prev-next a:link,
.prev-next a:visited,
.write-kor {
  color: #666
}

.sstitle-icon {
  font-weight: 700;
  padding: 0 0 0 4px
}

.sstitle-icon-down {
  font-weight: 700;
  padding: 3px 0 0 4px
}

.simg,
.simg-nogap {
  margin: 10px 0 0
}

.simg p {
  margin: 0 0 20px;
  display: block
}

.sdate-gap {
  margin: 0 0 7px
}

.slink {
  font-weight: 700;
  font-size: 10px;
  padding: 0 2px 0 0;
  line-height: 9px
}

.wp-pagenavi>.current {
  font-weight: 700 !important;
  font-size: 20px;
  padding: 0 6px
}

.wp-pagenavi a {
  padding: 0 6px
}

.notfound {
  padding: 0 0 100px
}

.prev-next {
  font-size: 14px;
  margin: 60px 0 0 !important
}

.prev-next a:hover {
  color: #ec0101
}

.cmpro {
  margin: 70px 0 0;
  line-height: 25px;
  font-size: 14px
}

.cmpic iframe,
.cmpic img,
.cmpro img {
  margin-bottom: 50px
}

.cmpro img:last-child {
  margin-bottom: 0
}

.cmpic {
  margin: 0 auto
}

.bhimg,
.bhvideo,
.cmvideo {
  position: relative;
  height: 0
}

.bhvideo iframe,
.cmvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.cmpic .cmvideo {
  margin-bottom: 59px
}

.noshadow embed,
.noshadow iframe,
.noshadow img {
  box-shadow: none !important
}

.cmpro>.des {
  text-align: left;
  padding: 0
}

.cmpro>ul>li {
  padding: 0 0 0 15px;
  margin: 0
}

.write-kor {
  font-family: 'KoPub Batang', serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300
}

.techtool {
  display: flex;
  flex-wrap: wrap;
  gap: 12px
}

.techtool li {
  font-family: 'Leon Sans', 'Pretendard Variable', serif;
  font-weight: 500;
  display: flex;
  padding: 0 10px !important;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 12px;
  line-height: 30px
}


.techtool.plist {
  gap: 4px !important;
  padding-top: 8px;
}

.techtool.plist li {
  width: auto !important;
  padding: 0 8px !important;
  border-radius: 10px !important;
  font-size: 10px !important;
  line-height: 20px !important;
  color: #fff !important;
  background: #d9d9d9 !important;
  border: none !important;
  font-weight: 700 !important;
}

@media (max-width:880px) {
  .cmproject ul {
    gap: calc(100% - ((100% / 3 - 5px) * 3))
  }

  .cmproject ul li {
    width: calc(100% / 3 - 10px)
  }
}

@media (max-width:530px) {
  .cmproject ul {
    gap: calc(100% - ((100% / 2 - 6px) * 2))
  }

  .cmproject ul li {
    width: calc(100% / 2 - 6px)
  }

  .cmproject ul li h4 {
    font-size: 18px;
    line-height: 20px
  }
}

@media (max-width:300px) {
  .cmproject ul {
    gap: 0
  }

  .cmproject ul li {
    width: 100%;
    margin-bottom: 16px
  }
}

@media (max-width:680px) {
  #conbox {
    padding: 0 10px !important
  }

  #search-button {
    right: -30px
  }

  #logo,
  #logo-click {
    left: -30px
  }

  #show-menu {
    display: block
  }

  #sidebars.show #show-menu {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }

  .sidesearch {
    font-size: 40px;
    margin: 70px auto;
    width: calc(100% - 40px);
    color: #fff
  }

  #sidebars.black #side-move,
  #sidebars.show #side-move {
    -webkit-transform: translate3d(0, -70px, 0);
    -moz-transform: translate3d(0, -70px, 0);
    -ms-transform: translate3d(0, -70px, 0);
    -o-transform: translate3d(0, -70px, 0);
    transform: translate3d(0, -70px, 0)
  }

  #menu-cm {
    margin: 94px auto 0;
    line-height: 24px
  }

  .sub-menu {
    top: 28px
  }

  .side-con li {
    padding: 0 5px
  }

  .entry {
    margin: 0
  }

  .post {
    padding: 0
  }

  #books {
    position: relative;
    width: 220px;
    top: 0;
    right: auto;
    left: 10px;
    padding: 0 0 30px
  }

  h2 {
    font-size: 32px;
    line-height: 40px
  }
}

p:empty:before {
  content: none !important;
  height: 0
}

.cm-links {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 0 auto;
}

.cm-links-info {
  width: 120px;
  margin-bottom: 24px;
}

.cm-links-info>i {
  display: block;
  width: 120px;
  height: 120px;
  background-image: url('../image/cmiscm-profile.png');
  background-size: contain;
  border-radius: 50%;
}

.cm-links-info>p {
  padding-top: 4px;
  font-family: 'Leon Sans', 'Pretendard Variable', sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: block;
  width: 100%;
  text-align: center;
  color: #aaa;
}

.cm-links-item {
  width: 80%;
  max-width: 400px;
  height: 48px;
  border-radius: 24px;
  margin: 12px 0;
  background-color: #1c1c1c;
  transition: all .2s;
}

.cm-links-item a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  font-family: 'Leon Sans', 'Pretendard Variable', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  flex-wrap: nowrap;
}

.cm-links-item a i {
  display: flex;
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin: 0 8px 0 0;
  padding: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  font-style: normal;
  justify-content: center;
}

.cm-links-item:active,
.cm-links-item:hover {
  background-color: #ec0101;
}

.cm-links-item-youtube {
  background-image: url('../image/youtube.svg');
}

.cm-links-item-twitter-x {
  background-image: url('../image/twitter_x.svg');
}

.cm-links-item-twitter {
  background-image: url('../image/twitter.svg');
}

.cm-links-item-threads {
  background-image: url('../image/threads.svg');
}

.cm-links-item-instagram {
  background-image: url('../image/instagram.svg');
}

.cm-links-item-facebook {
  background-image: url('../image/facebook.svg');
}

.cm-links-item-linkedin {
  background-image: url('../image/linkedin.svg');
}

.cm-links-item-github {
  background-image: url('../image/github.svg');
}

.cm-links-item-medium {
  background-image: url('../image/medium.svg');
}